.discount{
  width: 230px;
  padding-left: 37px;
  padding-right: 20px;

  &__title {
    font-weight: 400;
    font-size: 18px;
  }
  &__info{
    text-transform: uppercase;
  }
  &__size{
    font-size: 41px;
    font-weight: 700;
  }
  &__date{
    font-size: 14px;
    color: #bababa;
    margin-top: 5px;
  }
  &__place{
    font-size: 12px;
    margin-top: 5px;
    //color: #000;
    display: flex;
    align-items: center;
    &:before{
      content: url("../../../images/icons/place.svg");
      margin-right: 6px;
    }
  }
}

@media (max-width: 400px) {
  .discount {
    padding-left: 17px;
    padding-right: 5px;

    &__title {
      margin-bottom: 0px;
    }
    &__info{
      margin-bottom: 0px;
      line-height: 35px;
    }
    &__date{
      margin-bottom: 0px;
      margin-top: 0px;
      font-size: 12px;
    }
  }
}