.Statistic__main {
  display: flex;
  flex-direction: row;
  }

.Statistic__info {
  flex: 30%;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
  display: flex;

}

.Statistic__graph {
  flex: 70%;
}