.sale-card:hover {
  cursor:pointer;
}

.mainContent {
  display: flex;
  margin-top: 30px;
  padding: 10px;
  overflow: hidden;
}

.filterBar {
  margin-right: 40px;
  min-width: 320px;



  @media (max-width: 762px) {
    display: none;

    max-width: 320px;

  }

}

.filterBar .container {@media (max-width: 340px) {

  padding: 20px 0;
}
}




.filterButton {
  display: none;
  @media (max-width: 762px) {
    display: block;
    position: absolute;
    top: 15px;
    z-index: 1000;

  }
}

.cards {
  padding-top: 30px;
  padding-right: 20px;
  @media (max-width: 762px) {
    padding-right: 0;
  }
}
.container {padding: 5px;}

.open {display: block;
  transition: display 1s linear;
  @media (max-width: 758px) {
    z-index: 999;
    position: absolute;
    background-color: white;
    padding-left: 0;
    margin-right: 0;

  }
}


.MuiPickersCalendarHeader-switchHeader {
  @media (max-width: 330px) {
    max-width: 285px;
  }
}

.chips {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.sort-bar {
  @media (max-width: 596px) {
    margin: 0 auto;
  }

}