.filename {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 134px;
    height: 130px;
}

.dropzone__label {
    margin-bottom: 30px;
    position: relative;
    top: 56px;
    left: 144px;
}

@media (max-width: 700px) {
    .dropzone__label {
        display: none;
    }

    .wrapper {
        width: 134px;
        height: 40px;
        position: relative;
    }
}
