.filename {
    font-family: "Poppins", sans-serif;
}

.dropzone__label {
    margin-bottom: 30px;
    position: relative;
    top: 5px;
}

@media (max-width: 700px) {
    .dropzone__label {
        display: none;
    }
}
