.btn_open{
        border: solid 1px;
        width: 120px;
        height: 30px;
        border-radius: 30px;
        margin-top: 10px;
        color: #1877F2;
        //background-color: #fff;
}
.btn_open:hover {
    background: #F1F5F8;
}
