@import "./reset.css";
@import "./icon-font.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}

/*@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
  font-weight: 400, 500, 600, 700;
}
@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
}*/

#root {
  font-family: "Poppins";
  font-family: Montserrat;

}
.app-wrapper{

  display: flex;
  flex-direction: column;

}
body{
  background: #F1F5F8;
  min-height: 100%;
  overflow-x: hidden;
}
button {
  border: none;
  cursor: pointer;
}

button,
button:active,
button:focus {
  outline: none;
}
.app-wrapper-container{
  margin: 0 auto;
  max-width: 1260px;
  flex: 1 1 auto;
}
