@import "./reset.css";
@import "./icon-font.css";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
  font-weight: 400, 500, 600, 700;
}
@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
}

#root {
  font-family: "Poppins";
  font-family: Montserrat;
}
button {
  border: none;
  cursor: pointer;
}

button,
button:active,
button:focus {
  outline: none;
}
