.containerData
.containerData__picker {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-gap: 25px;

    .containerData__span {
        font-size: 18px;
        font-weight: 600;
    }

    .containerData__picker {
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 700px) {
    .containerData
    .containerData__picker {
        display: flex;
        flex-direction: column;
        grid-gap: 0px;

    }
}

.containerData-searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 420px;
    width: 100%;

    .containerData__span {
        font-size: 18px;
        font-weight: 600;
        margin-right: 30px;
    }

    .containerData__picker {
        display: flex;
        flex-direction: column;
    }
}