.footer {
  z-index: 2;
  text-align: center;
  border-top: black 1px solid;
  margin-top: 20px;

  // font-family: "Mulish";
  .Logo {
    :nth-child(3) {
      display: none;
    }
    :nth-child(1) {
      display: none;
    }
    @media screen and (max-width: 992px) {
      margin: 10px;
    }

  }

}

.footerContact {
  max-width: 180px;
  width: 100%;
  margin: 0 auto;
}

.footerWeb {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 8px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;

  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  text-align: left;

  &:hover {
    color: #1877f2;
  }
}

.footerLink {
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  &:last-child {
    margin-bottom: 0;
  }
  &__social {
    font-size: 30px;
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: #1877f2;
      }
    }
    @media screen and (max-width: 992px) {
      font-size: 30px;
    }
  }

  img {
    min-width: 24px;
    height: auto;
    margin-right: 19px;
    cursor: pointer;
    &:hover{

    }
  }

  a {
    text-decoration: none;
    color: #000;
    font-size: 15px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footerSocial {
  margin-top: 0;
  p {
    font-size: 9px;
    margin-top: 26px;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    &__container {
      margin: 0 auto;
      max-width: 1260px;
      display: flex;
      justify-content: space-between;
      .logo__name{
        font-weight: 500;
        font-size: 24px;
      }
    }


  }

  .footerContact {
    order: 1;
    margin: 0;
    max-width: 225px;
    text-align: left;
  }

  .footerWeb {
    font-size: 20px;
  }

  .footerLink {
    a {
      font-size: 28px;
      cursor: pointer;
      img{
        :hover{
          color: #1877f2;
        }
      }

    }

    img {
      width: 25px;
      height: 25px;
      padding: 0;

    }
  }

  .footerSocial {
    display: flex;
    align-items: flex-end;
    p {
      font-size: 12px;

    }
  }
}
.copied{
  color: #FFFFFF;
  background-color: rgba(10, 10, 10, 0.8);
  padding: 15px;
  border-radius: 30px;
  position: fixed;
  top: 3%;
  left: 50%;
  display: block;
}

;
