.BarCharts{
    max-width: 900px;
    width: 100%;
    .Charts{
        max-height: 400px;
        height: 100%;
    }

    

};
.container-btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    button {
        border: #1877F2 solid 1px;
        width: 120px;
        height: 30px;
        border-radius: 30px;
        margin-top: 10px;
        color: #1877F2;
        background-color: #fff;
    }

    button:hover {
        background: #F1F5F8;
    }
}



