.card-buttons{
  width: 40px;
  &__item{
    background: transparent;
    cursor: pointer;
    margin-bottom: 15px;
  }
  &__info{
    display: none;
    background: transparent;
    cursor: pointer;
  }
}
.card-container{
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.card-drop{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 260px;
}

.card-more{
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 15px;
  width: 132px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__item{
    background: transparent;
    padding: 0;
    cursor: pointer;
  }
}
@media (max-width: 400px) {
  .card-drop{
    width: 170px;
  }
  .card-buttons{
    width: 20px;
    &__item{
      display: none;
    }
    &__info{
      display: block;
    }
  }
}