.FormLogin {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 15px 15px rgb(190, 186, 186);
    padding: 25px;
    position: relative;
    background: white;
    input {
        height: 32px;
        border: solid 1px rgb(190, 186, 186);
        padding-left: 5px;
    }

    p {
        color: #ED1818;
        font-size: 12px;
        margin: 5px auto;
        visibility: hidden; 
    }

    svg{
        position: absolute;
        align-self:flex-end;
        top:108px;
        right:30px;
    }
    .formInputPassword {
        margin-bottom: 30px;
    }
    .submit {
        height: 40px;
        font-size: 15px;
        background-color: #0082CA;
         transition: background 0.3s linea;
    }
    .submit:hover{
        background-color: #015685;
    }
};

@media screen and (min-width:355px){
    .FormLogin{
        svg {
            top: 95px;
        }
    }
    
}

@media screen and (min-width:480px){
    .FormLogin {
        width: 440px;
    }
};

@media screen and (min-width:600px) {
    .FormLogin {
        width: 440px;
    }
};

@media screen and (min-width:800px) {
    .FormLogin {
        width: 400px;
        margin-left: 40px;
    }
};
