.FormLogin {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 15px 15px rgb(190, 186, 186);
    padding: 25px;
    position: relative;
    background: white;
    

    p {
        color: #ED1818;
        font-size: 12px;
        margin: 10px auto;
        visibility: hidden; 
    }
    .loginButton{
        margin-top: 30px;
    }
    
    .formInputPassword {
        margin-bottom: 30px;
    }
};



@media screen and (min-width:480px){
    .FormLogin {
        width: 440px;
    }
};

@media screen and (min-width:600px) {
    .FormLogin {
        width: 440px;
    }
};

@media screen and (min-width:800px) {
    .FormLogin {
        width: 400px;
        margin-left: 40px;
    }
};
